.form{
    margin-top: 16px;
    width: 1440px;
    height: 100%;
}

.button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    display: block;
    margin-bottom: 16px;
    background-color: orange;
}

.input{
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 40px;
}